@media screen and (max-width:778px){
    .center_div {
      /* width: 25%; */
      /* height: 80px; */
      border-radius: 15px;
      background-color: azure;
      box-shadow: 5px 5px 25px -5px black;
  }
  }